@media(max-width:768px) {
    .reverse{
        flex-direction: column-reverse;
    }
    .section-space {
        padding: 50px 0
    }

    .section-about .about-image,
    .section-vision .vision-image {
        width: 100%
    }
    .section-mentor .pallet:before {
        left: 30%;
    }
    .section-mentor .swiper-wrapper {
        height: 250px;
    }
    .section-contact {
        background-position: left;
    }
    .section-contact .heading .subtitle{
        max-width: 100%;
    }
    .section-contact button{
        text-align: center;
    }
}
