/* ============== Start Layout ============== */
:root {
    --dark-color: #253C56;
    --red-color: #EE2E24;
    --gray-color: #5A5A5A;
    --blue-color: #023AAE;
}

body,
html {
    font-family: 'Open Sans', sans-serif !important;
}


.section-space {
    padding-top: 100px;
    padding-bottom: 100px;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
}

/* ============== End Layout ============== */



/* ============== Start Typography ============== */
a {
    text-decoration: none !important;
    color: inherit !important;
}

ul {
    padding-left: 0 !important;
}

ul>li {
    list-style: none !important;
}

.heading .title {
    font-size: 18px;
    text-transform: uppercase;
    color: var(--dark-color);
}

.heading .subtitle {
    font-size: 38px;
    font-weight: 800;
    line-height: 52px;
    text-transform: uppercase;
    margin-top: 1rem;
    color: var(--dark-color);

}

.pallet {
    position: relative;
    padding-left: 30px;
}

.pallet:before {
    position: absolute;
    content: "";
    background: var(--red-color);
    top: 5%;
    left: 0;
    width: 20px;
    height: 20px;
}

.section-mentor .pallet:before {
    left: 44%;
}

.btn-outline-primary {
    border-color: var(--blue-color) !important;
    color: var(--blue-color) !important;
}

.btn-outline-primary:hover {
    background-color: var(--blue-color) !important;
    color: #fff !important;
}

.btn-primary {
    background-color: var(--dark-color) !important;
    color: #fff !important;
}

.btn-primary:hover {
    background-color: var(--blue-color) !important;
    color: #fff !important;
}

.btn-submit{
    background-color: var(--blue-color) !important;
    color: #fff !important;
}
.btn-submit:hover{
    background-color: var(--dark-color) !important;
    color: #fff !important;
}

/* ============== End Typography ============== */



/* ============== Start Navbar ============== */
.section-navbar .logo-title {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.section-navbar .navbar-nav .nav-link {
    font-weight: 600;
    margin-right: 1.5rem;
}

/* ============== End Navbar ============== */


/* ============== Start About Vision ============== */
.section-about .content,
.section-vision .content {
    margin-top: 2rem;
    position: relative;
}

.content:before {
    content: "";
    position: absolute;
    background: url(../images/zig-zag.png) no-repeat;
    width: 100%;
    height: 100%;
    top: -15%;
    left: 0;
    z-index: -1;
}

.section-vision h3{
    color: var(--dark-color);
    font-weight: 700;
}

.section-about .about-image {
    width: 70%;
}

.section-vision .vision-image {
    width: 75%;
    margin: auto;
}

.section-vision .box-vision {
    display: flex;
    color: var(--gray-color);
    margin-bottom: 1rem;
}

.section-vision .box-vision .box-content .title {
    color: var(--dark-color);
    font-weight: 600;
}

.section-vision .box-vision .box-content .caption {
    color: var(--gray-color);
}

/* ============== End About Vision ============== */

/* ============== Start Mentor ============== */
.section-mentor .heading {}

.section-mentor .swiper {
    margin-top: 3rem;
}

.section-mentor .swiper-wrapper {
    height: 350px;
}

.section-mentor .swiper img {
    border-radius: 10px;
}

.section-mentor .swiper .mentor-content .name {
    color: var(--dark-color);
    font-weight: 700;
    margin-top: 1rem;
}

.section-mentor .swiper .mentor-content .description {
    color: var(--gray-color);
    font-size: 14px;
}

/* ============== End Mentor ============== */

/* ============== Start Contact ============== */
.section-contact {
    background: url(../images/bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px 0;
}

.section-contact .heading .title {
    font-size: 32px;
    font-weight: 500;
    color: #1B3138;
}

.section-contact .heading .subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: normal;
    max-width: 80%;
}

/* ============== End Contact ============== */
.section-auth h2{
    color: var(--dark-color);
    font-weight: 700;
}

.section-auth p{
    color: var(--gray-color);
    font-size: 14px;
}

.section-auth label{
    color: #414141;
}

.section-auth .form-control{
    background-color: #F7F9FC;
    border: 0;
}

.section-auth .form-control:focus{
    box-shadow: none;
}


.section-auth label a{
    color: var(--blue-color) !important;
}
/* ============== Start Auth ============== */



/* ============== End Auth ============== */


/* ============== Start Footer ============== */
footer {
    background: var(--dark-color);
    color: #FFF;
}

footer .footer-top {
    padding: 3rem 0 0;
}
footer .social-menu ul>li{
    display: inline;
}
/* ============== End Footer ============== */
